<% if(flujo.name === "Ingreso" || flujo.name === "Gasto" ){ %>
<div class="container-fluid">
  <div class="row">
    <div class="col-10">
      <form class="form-group" action="/flujos/filtros" method="post">
        <div class="container">
          <div class="row">
            <div class="col-4">
              <input type="date" name="dateIn" value=<%=dateIn%>>
            </div>
            <div class="col-4">
              <input type="date" name="dateEnd" value=<%=dateEnd%>>
            </div>
            <div class="col-2" align="left">
              <input type="hidden" name="tipoFlujo" value=<%=flujo.name%>>
              <button type="submit" class="btn btn-primary btn-sm" name="button">Filtrar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-2">
      <form class="" action="/flujos/xFiltro" method="post">
        <input type="hidden" name="tipoFlujo" value=<%=flujo.name%>>
        <button type="submit" class="btn btn-danger btn-sm" name="button">X</button>
      </form>
    </div>
  </div>
</div>
<% } %>
<table class="table tablaFlujos">
  <thead>
    <tr>
      <% if(flujo.name === "Ingreso" || flujo.name === "Gasto" ){ %>
      <th scope="col">Fecha</th>
      <% } %>
      <th scope="col">Nombre</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Eliminar</th>
    </tr>
  </thead>
  <tbody>
      <% listFlujo.forEach(function(flujos){ %>
      <tr>
      <% if(flujo.name === "Ingreso" || flujo.name === "Gasto" ){ %>
        <th scope="row">
          <% if(flujos.fecha.getDate()+1<10){%>
          0<%=flujos.fecha.getDate()+1%>
          <% } else { %>
            <%=flujos.fecha.getDate()+1%>
            <% } %>
            <% if(flujos.fecha.getMonth()+1<10){%>
            / 0<%=flujos.fecha.getMonth()+1%>
            <% } else { %>
            / <%=flujos.fecha.getMonth()+1%>
              <% } %>
          / <%=flujos.fecha.getFullYear()%>
        </th>
        <td><%=flujos.nombre%></td>
      <% }else{ %>
        <th><%=flujos.nombre%></th>
        <% } %>

      <td>$<%=Number(flujos.valor).toLocaleString('de-DE')%></td>
      <td>
        <form method="POST" action="flujos/delete">
          <input type="hidden" name="tipoFlujo" value=<%=flujo.name%>>
          <button id=<%= flujos.id %> class="btn btn-outline-danger btn-sm" type="submit" name='id' value=<%= flujos.id %> >Eliminar</button>
        </form>
      </td>
      </tr>
      <% }); %>
  </tbody>
</table>
<% if (pages > 0) { %>
  <ul class="pagination text-center">
      <% if (current == 1) { %>
          <li class="page-item disabled"><a class="page-link" >First</a></li>
      <% } else { %>
          <li  class="page-item">
            <form action="/flujos/pages" method="post">
              <input type="hidden" name="tipoFlujo" value=<%=flujo.name%>>
              <button class="page-link" type="submit" name="button" value="1">First</button>
            </form>
          </li>
      <% } %>
      <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
      <% if (i !== 1) { %>
          <li  class="page-item disabled" ><a class="page-link" >...</a></li>
      <% } %>
      <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
          <% if (i == current) { %>
              <li class="page-item active" ><a class="page-link" ><%= i %></a></li>
          <% } else { %>
            <form action="/flujos/pages" method="post">
              <input type="hidden" name="tipoFlujo" value=<%=flujo.name%>>
              <button class="page-link" type="submit" name="button" value=<%= i %>><%= i %></button>
            </form>
          <% } %>
          <% if (i == Number(current) + 4 && i < pages) { %>
              <li class="page-item disabled"><a class="page-link" >...</a></li>
          <% } %>
      <% } %>
      <% if (current == pages) { %>
          <li class="page-item disabled"><a class="page-link" >Last</a></li>
      <% } else { %>
          <li class="page-item" ><a class="page-link" href="?page=<%= pages %>">Last</a></li>
      <% } %>
  </ul>
<% } %>
