<div class="container-fluid">
  <div class="row">
    <div class="col-10">
      <form class="form-group" action="/ingresos" method="post">
        <div class="container">
          <div class="row">
            <div class="col-4">
              <input type="date" name="dateIn" value=<%=dateIn%>>
            </div>
            <div class="col-4">
              <input type="date" name="dateEnd" value=<%=dateEnd%>>
            </div>
            <div class="col-2" align="left">
              <button type="submit" class="btn btn-primary btn-sm" name="button">Filtrar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-2">
      <form class="" action="/ingresos/xFiltro" method="post">
        <button type="submit" class="btn btn-danger btn-sm" name="button">X</button>
      </form>
    </div>
  </div>
</div>

<table class="table tablaFlujos">
  <thead>
    <tr>
      <th scope="col">Fecha</th>
      <th scope="col">Nombre</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Eliminar</th>
    </tr>
  </thead>
  <tbody>
      <% listIngresos.forEach(function(ingreso){ %>
        <tr>
      <th scope="row">
        <% if(ingreso.fecha.getDate()+1<10){%>
        0<%=ingreso.fecha.getDate()+1%>
        <% } else { %>
          <%=ingreso.fecha.getDate()+1%>
          <% } %>
          <% if(ingreso.fecha.getMonth()+1<10){%>
          / 0<%=ingreso.fecha.getMonth()+1%>
          <% } else { %>
          / <%=ingreso.fecha.getMonth()+1%>
            <% } %>
        / <%=ingreso.fecha.getFullYear()%>
      </th>
      <td><%=ingreso.nombre%></td>
      <td>$<%=Number(ingreso.valor).toLocaleString('de-DE')%></td>
      <td>
        <form method="POST" action="/ingresos/delete">
          <button id=<%= ingreso.id %> class="btn btn-outline-danger btn-sm" type="submit" name='id' value=<%= ingreso.id %> >Eliminar</button>
        </form>
      </td>
      </tr>
      <% }); %>
  </tbody>
</table>
<% if (pages > 0) { %>
  <ul class="pagination text-center">
      <% if (current == 1) { %>
          <li class="page-item disabled"><a class="page-link" >First</a></li>
      <% } else { %>
          <li  class="page-item">
            <form action="/ingresos/pages" method="post">
              <button class="page-link" type="submit" name="button" value="1">First</button>
            </form>
          </li>
      <% } %>
      <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
      <% if (i !== 1) { %>
          <li  class="page-item disabled" ><a class="page-link" >...</a></li>
      <% } %>
      <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
          <% if (i == current) { %>
              <li class="page-item active" ><a class="page-link" ><%= i %></a></li>
          <% } else { %>
            <form action="/ingresos/pages" method="post">
              <button class="page-link" type="submit" name="button" value=<%= i %>><%= i %></button>
            </form>
          <% } %>
          <% if (i == Number(current) + 4 && i < pages) { %>
              <li class="page-item disabled"><a class="page-link" >...</a></li>
          <% } %>
      <% } %>
      <% if (current == pages) { %>
          <li class="page-item disabled"><a class="page-link" >Last</a></li>
      <% } else { %>
          <li class="page-item" ><a class="page-link" href="?page=<%= pages %>">Last</a></li>
      <% } %>
  </ul>
<% } %>
